/Math/Week 1/Material
/Python/Week 2/Material
/Python/Week 3/Material
/Python/Week 4/Material
/Data Preprocessing/Week 5/Material
/Data Preprocessing/Week 6/Material
/Data Visualization/Week 7/Material
/Machine Learning/Week 8/Material
